#External	{color: yellow}

*	{font-family: Arial;
	font-size: 20px;	
	}

h1 {font-size: 58px}

#h20 {text-transform: uppercase}

.Languages	{background-color: #99c49d}

li[id] {
	border-width: 2px;
	border-style: solid;
	border-color: #978dc2;
}

img + ul {list-style: none;
}

section img {height: 100px;
width: 100px;
border-radius: 150px}

h4 ~ p {text-align: center;}

body > section > ul > li {
	letter-spacing: 10px;
}